.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-div-color{
  background-color: #dddddb;
}
.text-color-title{
  color:#a00f0f;
}
.font-loader{
  font-family:'Raleway';
}
.bg-color{
  background-color: #ffdf6b;
  border-color: #ffc107bf im !important;
}
.bg-color-2{
  background-color: #cbf4ff;
}
.navbar-color{
  background-color: #3c927e !important;
}
.btn-color{
  background-color: black;
  border-color: black;
}